
.banner{
    background-image: url("/assets/images/banner.jpg");
    height:400px;
    width:100%;
    background-size: cover;
}

.card{
    height: 50%;
    width: 35%;
    top: 15%;
    left: 10%;
}

div{
    font-size: 1.3em;
    font-weight: 100;
    line-height: 1.5;
}