<mat-toolbar >
    <mat-toolbar-row>
      <span>New Announcement </span>
      <span class="spacer"></span>
      <mat-icon fontSet="fas" [mat-dialog-close] fontIcon="fa-times"></mat-icon>
  
    </mat-toolbar-row>
  </mat-toolbar>

  <div  mat-dialog-content class="mt-2" style="margin:auto">
    <label class="cust-grey">Note: * marked fields are mandatory</label>
    

    <div>
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>* Title</mat-label>
            <input matInput placeholder="w-ally" [formControl]="TitleFormControl" [errorStateMatcher]="TitleMatcher">
                <mat-error *ngIf="TitleFormControl.hasError('required')">
                    Title is <strong>required</strong>
              </mat-error>
          </mat-form-field>
          
    </div>



    <div>
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>* Description</mat-label>
            <textarea matInput placeholder="w-ally" [formControl]="descriptionFormControl" [errorStateMatcher]="descriptionMatcher"> </textarea>
            <mat-error *ngIf="descriptionFormControl.hasError('required')">
            Location is <strong>required</strong>
            </mat-error>
        </mat-form-field>  
    </div>


  </div>


  <div mat-dialog-actions >
  
    <div class="spacer"></div>
    
      <button class="btn custom-back z-depth" [mat-dialog-close]>Skip</button>
      <button class="btn btn-custom-primary trigger z-depth mr-2" [mat-dialog-close] (click)="submitForm()" cdkFocusInitial>Submit</button>

  </div>