.cust-div{
 width:50%;
 margin: 1rem auto;
}

mat-form-field {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

.sso{
  width: 200px !important;

}

.grey{
  color:#B4B4B4 !important;
}


.cust{
  width: 50%;
  margin:0 !important;
}